<div class="col-md-8 offset-md-3">
  <h3>Employee Detail</h3>
  <hr/>
  <div>
    <div class="form-group" style="color: white">
      <label>First Name : {{employee.firstname}}</label>
    </div>

    <div class="form-group" style="color: white">
      <label>Last Name : {{employee.lastname}}</label>
    </div>

    <div class="form-group" style="color: white">
      <label>Email : {{employee.email}}</label>
    </div>

    <button class="btn-default" style="color: #6272A4; margin-top: 20px" type="button" (click)="redirect()">
      Back To List
    </button>
  </div>
</div>
